.back{
    background-image: url("formback.jpg");
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}

.form{
    background-color: transparent;
}

.regbut{
    padding-top: 0px;
    padding-bottom: 15px;
    
    
}

.reg{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 90px;
}

.loc {
    margin-top: 35px;
    margin-left: 450px;
}
  