.img {
    margin-top: 0px;
    margin-left: 0px;
    width: 77px;
    height: 70px;
}

.ppcard{
    margin-top: 20px;
    margin-left: 20px;
}

.profpic{
    max-width: 8rem;
    max-height: 8rem;
    
    
}

